g/build/
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
/var/dump/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea
.DS_Store
fixtures.sh
/docker
/var/bootstrap.php.cache
/var/logs/phpunit
#dev scripts
docker/data/*
docker/.env